* {
    margin: 0;
    padding: 0;
}

:root {
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

body {
    display: grid;
    align-items: center;
    position: relative;
    height: 100vh;
}

.container.blur {
    filter: blur(3px); 
}

header {
    display: grid;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    justify-content: center;
}

.board {
    display: grid;
    width: 600px;
    height: 600px;
    grid-template-columns: repeat(3, 1fr);
}

.box {
    width: 200px;
    height: 200px;
    display: grid;
    align-items: center;
    justify-items: center;
    font-size: 160px;
    background-color: black;
    color: white;
    border: none;
}

.row0#column0 {
    border-right: 5px solid white;
    border-bottom: 5px solid white;
}

.row0#column1 {
    border-bottom: 5px solid white;
}

.row0#column2 {
    border-left: 5px solid white;
    border-bottom: 5px solid white;
}

.row1#column0 {
    border-right: 5px solid white;
    border-bottom: 5px solid white;
}

.row1#column1 {
    border-bottom: 5px solid white;
}

.row1#column2 {
    border-left: 5px solid white;
    border-bottom: 5px solid white;
}

.row2#column0 {
    border-right: 5px solid white;
}

.row2#column2 {
    border-left: 5px solid white;
}

.info {
    margin-top: 40px;
    display: grid;
    grid-template-columns:  repeat(2, 150px);
    grid-template-rows: repeat(2, 30px) 80px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    color: white;
    font-family: 'Roboto', sans-serif;
}

#player-choice {
    grid-row: 1 / 3;
    grid-column: 3 / 4;
    background-color: black;
    color: white;
    border: 1px solid white;
    width: 80%;
    height: 80%;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

#player-x, #player-o, #player1, #player2 {
    font-size: 20px;
}

#restart {
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    width: 100%;
    height: 60%;
    background-color: black;
    color: white;
    border: 1px solid white;
    font-size: 20px;
    align-self: flex-end;
    font-family: 'Roboto', sans-serif;
}

.winner {
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    font-size: 35px;
    visibility: hidden;
}

.winner.visible {
    visibility: visible;
}

#win {
    font-size: 150px;
    top: 45%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
}

#close {
    position: absolute;
    top: 2%;
    left: 98.2%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    background-color: black;
    color: white;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    border: 2px solid white;
    font-size: 20px;
    font-weight: bold;
}